body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.headerLinks a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.form-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.registration-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    margin-top: 10px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.data div {
    flex: 1;
    min-width: 250px; /* Adjust as needed */
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.myButton {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    margin-top: 440px;
    margin-left: 18%;
}

.myButton:hover {
    background: #0056b3;
}

